.footer-links-wrapper {
  background-color: #32373A;
}

.footer-navigation-wrapper {
  background-color: #5a6167;
}

.footer-navigation {
  padding: 5rem 10rem;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.footer-navigation h6 {
  font-size: var(--body-font-size-l);
  color: var(--nav-link-color);
}

.footer-navigation p {
  padding-top: 1.25rem;
  color: var(--nav-link-color)
}

.footer-links {
  padding: 5rem 10rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.footer-links h6 {
  font-size: var(--body-font-size-l);
  color: var(--nav-link-color);
}

.footer-links p {
  padding-top: 1.25rem;
  color: var(--nav-link-color)
}

.footer {
  background-color: #272b2e;
  overflow: auto;
  /* display: grid; */
  /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
}

.footer-wrapper {
  padding: 0rem 10rem;
}

.footer-bottom ul {
  display: flex;
  justify-content: start;
  padding: 0;
  list-style: none;
  gap: 20px;
  float: left;
}

.footer-bottom li {
  padding: 0 10px;
}

.footer-bottom p {
  margin-left: 0;
  font-size: 0.8em;
  color: #fff;
  opacity: 0.7;
  float: right;
}

.colorStripe {
  display: flex;
}

.colorStripeSegment {
  height: 14px;
}

.teal {
  width: 25%;
  background-color: #6ABFDD;
}

.gray {
  width: 13%;
  background-color: #5D666F;
}

.purple {
  width: 42%;
  background-color: #7B2B63;
}

.yellow {
  width: 20%;
  background-color: #F5BE58;
}