.footer {
  background-color: #272b2e;
  overflow: auto;
}

.colorStripe {
  display: flex;
}

.colorStripeSegment {
  height: 14px;
}

.teal {
  width: 25%;
  background-color: #6ABFDD;
}

.gray {
  width: 13%;
  background-color: #5D666F;
}

.purple {
  width: 42%;
  background-color: #7B2B63;
}

.yellow {
  width: 20%;
  background-color: #F5BE58;
}