.footer-navigation {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  background-color: #5a6167;
}

.footer-navigation h6 {
  font-size: var(--body-font-size-l);
  color: var(--nav-link-color);
}

.footer-navigation p {
  padding-top: 1.25rem;
  color: var(--nav-link-color)
}

.footer-links {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  background-color: #32373A;
}

.footer-links h6 {
  font-size: var(--body-font-size-l);
  color: var(--nav-link-color);
}

.footer-links p {
  padding-top: 1.25rem;
  color: var(--nav-link-color)
}